#searcher {
    /*! background: #eee; */
    /*! max-width: 800px; */
    /*! text-align: center; */
    /*! border: black; */
    /*! border-width: 2px; */
    /*! border-style: solid; */
    /*! border-radius: 10px; */
    position: absolute;
    z-index: 1;
    /*! display: grid; */
    /*! align-items: center; */
    left: 0;
    right: 0;
}

.MathJax {
    font-size: 1.3em;
}

#searcher input {
    /*! font-size: 25pt; */
    margin: 0 auto;
    /*! width: 100%; */
    background: #eeeeee;
    /*! align-content: center; */
    display: block;
    width: 50%;
    font-size: 20pt;
    padding: 10px;
    border-radius: 10px;
    /*! border-color: gray; */
    border: solid gray;
}

#searcher-results {
    list-style-type: none;
    background: #eeeeee;
    width: 50%;
    margin: 0 auto;
    padding-top: 0;
    padding: 8px;
    display: table;
    list-style-type: none;
}

#searcher-results > li {
    text-align: left;
    text-
}

#posts-list {
    float: top;
}

p {
    text-align: justify;
    text-justify: auto;
}

h1, h2, h3, h4, h5, h6  {
    padding: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h2:before,
h3:before {
/*  content: '■   '; */
    position: relative;
    bottom: .1em;
    color: #666;
}

h4:before {
/*  content: '›  '; */
  position: relative;
  bottom: .1em;
  color: #666;
}

h5:before {
/*  content: '➤  '; */
  position: relative;
  bottom: .1em;
  color: #666;
}

h6:before {
/*  content: 'ᐅ '; */
  position: relative;
  bottom: .1em;
  color: #666;
}

h4 {
/*  text-indent: 30px; */
  /* font-size: 14pt; */
}

h5 {
/*  text-indent: 60px; */
  /* font-size: 14pt; */
}

h6 {
/*  text-indent: 90px; */
  /* font-size: 14pt; */
}

h6 + ul, ul + ul {
/*  text-indent: 120px; */
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; line-height: 1.2em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  border-radius: 10px;
}

code { 
    background: lightcyan; 
    border-radius: 2px;
    border: solid lightcyan 2px;    
    padding-left: 3px;
    padding-right: 3px;
}

.highlight pre code { background: none; border: none}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

.site-title {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 28pt;
    font-weight: bolder;
    line-height: 1em;
}

@media (min-width: 1100px) {

    body {
      max-width: 50%;
      margin: auto;
      padding: 1em;
      line-height: 1.5em;
    }


     aside {
      position: absolute;
      margin-left: 50%;
     }
    
    .toc {
      float: left;
      position: fixed;
      z-index: 99;
      right: 0;
      left: 0;
      max-width: 300px;
      margin-left: 0;
      top: 0;
    }

    .footnotes {
        position: fixed;
        left: 0;
        right: 0;
        max-width: 300px;
        z-index: 99;
        float: right;
        top: 50%;
        left: 75%;
    }

    #TableOfContents li {
      list-style: none;
    }
    
    #TableOfContents a{
      text-decoration: none;
      color: grey;
    }
    
    #TableOfContents a:hover{
      color: black;
      font-style: bold;
      font-style: italic
    }
    
    .sidenote-content {
        display: block;
        position: absolute;
        width: 20%;
        box-sizing: border-box;
        margin-top: -1.5em;
        right: 0;
        margin-right: 0px;   
        border-left: black solid;
        padding-left: 20px;
        margin-left: 0px;
        padding-right: 50px;
    }

    .sidenote-checkbox {
        display: none;
    }

    .sidenote-label {
        text-decoration: underline;
    }

    .sidenote:hover .sidenote-label { 
        border-block-style: dotted;
        border-color: blueviolet;
        border-block-width: 2px;
    }


    .sidenote:hover .sidenote-content { 
        border-color: blueviolet;
        border-block-style:dotted;
        border-block-width: 2px;       
    }

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
}

@media screen and (min-width: 600px) and (max-width: 1100px) {

    body {
        max-width: 60%;
        margin: auto;
        padding: 1em;
        line-height: 1.5em;
    }


    aside {}
    .toc {}
    .footnotes {}
    #TableOfContents a {}
    #TableOfContents a:hover{}

    .sidenote-content {
        font-style: italic;
        position: static;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-color: none;
        border-block-style: none;
    }

    .sidenote-content::before {
        content:  "(";
    }

    .sidenote-content::after {
        content:  ")";
    }

    .sidenote-label {
        border-block-style: none;
        border-color: none;
    }

  /*  .sidenote-checkbox:checked ~ .sidenote-content {
 *    /*      display: none;
 *      /*  } */

    .sidenote-content {
        margin-right: 0px;
    }

}

@media screen and (max-width: 600px) {

    body {
        margin: auto;
        padding: 1em;
        line-height: 1.5em;
    }


    aside {}
    .toc {}
    .footnotes {}
    #TableOfContents a {}
    #TableOfContents a:hover{}

    .sidenote-content {
        font-style: italic;
        position: static;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        border-color: none;
        border-block-style: none;
    }

    .sidenote-content::before {
        content:  "(";
    }

    .sidenote-content::after {
        content:  ")";
    }

    .sidenote-label {
        border-block-style: none;
        border-color: none;
    }

  /*  .sidenote-checkbox:checked ~ .sidenote-content {
 *    /*      display: none;
 *      /*  } */

    .sidenote-content {
        margin-right: 0px;
    }

}
